{% extends "base.html" %}

{% block content %}
  <h1>
    {{ car.model }}
  </h1>
  <br>
  <p><strong>Manufacturer:</strong> {{ car.manufacturer.name }} ({{ car.manufacturer.country }})</p>
  <br>
  <ul>
    <div class="d-flex justify-content-between">
      <div><h3>Drivers</h3></div>
      {% if user in car.drivers.all %}
        <div>
          <form
              method="post"
              action="{% url 'taxi:car-detail-remove-driver' car.id user.id %}"
          >
            {% csrf_token %}
              <input type="submit" value="Delete me from this car" class="btn btn-danger">
          </form>
        </div>
        {% else %}
        <div>
          <form
              method="post"
              action="{% url 'taxi:car-detail-add-driver' car.id user.id %}"
          >
            {% csrf_token %}
            <input type="submit" value="Assign me to this car" class="btn btn-success">
          </form>
        </div>
      {% endif %}
    </div>
    {% for driver in car.drivers.all %}
      <hr>
      <p><strong>Username:</strong> {{ driver.username }}</p>
      <p><strong>Full name:</strong> {{ driver.first_name }} {{ driver.last_name }}</p>
      <p><strong>License number:</strong> {{ driver.license_number }}</p>
    {% endfor %}
  </ul>
  <br>
  <div class="flex-row">
    <a href="{% url 'taxi:car-delete' pk=car.id %}" class="btn btn-danger">
      Delete
    </a>
    <a href="{% url 'taxi:car-update' pk=car.id %}" class="btn btn-secondary">
      Update
    </a>
  </div>
  <br>
{% endblock %}
